<h1>Order</h1>
<div *ngIf="order" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Order Id:</label>
            {{order.orderId}}
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>Total:</label>
                {{order.total}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div row="class">
    <div class="col-md-12">
        <button class="btn btn-info" (click)="goBack()">Go Back</button>
    </div>
</div>