<h1>Order</h1>
<div *ngIf="order" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Order Id:</label>
            {{order.orderId}}
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>Total:</label>
                {{order.total}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-info" (click)="goBack()">Go Back</button>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Products</h2>
        <p *ngIf="!products"><em>Loading...</em></p>
        <table class='table' *ngIf="products">
            <thead>
                <tr>
                    <th>ProductId</th>
                    <th>ProductName</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.productId }}</td>
                    <td><a [routerLink]="['/product', product.productId]">{{ product.productName }}</a></td>
                    <td>{{ product.price }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>