<h1>Customers</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <p *ngIf="!customers"><em>Loading...</em></p>

        <table class='table' *ngIf="customers">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Create Date</th>
                </tr>
            </thead>
            <tbody *ngFor="let customer of customers">
                <tr customer-row [customer]="customer"></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
        <a [routerLink]="['/customer', 0]" class="btn btn-primary">New Customer</a>
    </div>
</div>