<h1>Customers</h1>

<div class="row">
    <div class="col-md-8">
        <p *ngIf="!customers"><em>Loading...</em></p>

        <table class='table' *ngIf="customers">
            <thead>
                <tr>
                    <th>CustomerId</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{ customer.customerId }}</td>
                    <td><a [routerLink]="['/customer', customer.customerId]">{{ customer.firstName }}</a></td>
                    <td>{{ customer.lastName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
        <a [routerLink]="['/customer', 0]" class="btn btn-primary">New</a>
    </div>

</div>
