<h1>Customer</h1>
<div *ngIf="customer" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Status:</label>
            <select [(ngModel)]="customer.customerStatusId" class="form-control">
                <option *ngFor="let item of customerStatuses" [ngValue]="item.customerStatusId">
                    {{item.statusText}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>First Name:</label>
            <input [(ngModel)]="customer.firstName" placeholder="First Name" class="form-control" />
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>Last Name:</label>
                <input [(ngModel)]="customer.lastName" placeholder="Last Name" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-info" (click)="goBack()">Cancel / Back</button>
        <input *ngIf="customer" type="submit" class="btn btn-primary" value="Save" (click)="saveCustomer()" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Addresses</h2>
        <p *ngIf="!addresses"><em>Loading...</em></p>
        <table class='table' *ngIf="addresses">
            <thead>
                <tr>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let address of addresses">
                    <td><a [routerLink]="['/address', address.addressId]">{{ address.street }}</a></td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.state }}</td>
                    <td>{{ address.zip }}</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <a class="btn btn-info" [routerLink]="['/address', 0]">New Address</a>
    </div>
</div>