<div class="row">
    <div class="col-md-12">
        <h2>Order Items</h2>
        <p *ngIf="!orderItems"><em>Loading...</em></p>
        <table class='table' *ngIf="orderItems">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderItems">
                    <td>{{ item.orderItemId }}</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>
</div>